.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  background: transparent;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}

.navbar-photo {
  padding: 15px;
  font-weight: 600;
}
/* Navbar Content */
.navbar--content {
  color: lightgray;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  color: rgba(128,208,199,1);
}

.navbar--content:hover{
  color: rgba(128,208,199,1);
}

.logo {
  font-size: 25px;
  font-weight: 600px;
  color: rgba(128,208,199,1);
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.header--social--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
  margin: 5px 0 0 0 !important;
}

.header--social--icon > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
  padding: 0;
  margin: 0 0 0 10px !important;
}

.resume{
  font-weight: 600;
  line-height: 30px;
  width: 65px;
  height: 30px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(128,208,199,1);
  color: rgba(128,208,199,1);
}

.resume:hover{
  background: rgba(128,208,199,1);
  color: white;
}

.nav__hamburger {
  border: none;
  display: none;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 15px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: rgba(128,208,199,1);
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {

  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #112240;
    margin-top: 50px;
    top: -30rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.45rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.45rem);
  }

  .resume{
    margin-right: 40px;
  }
    
  .portfolio--section--card {
    max-width: 100%;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .about--section--img > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}